In [35]:
import pandas as pd
from pandas import Series, DataFrame

In [36]:
import numpy as np
from numpy.random import randn
import os
import matplotlib.pyplot as plt
""" from myfunctions import * """
np.random.seed(12345) #随机种子设置
plt.rc('figure', figsize=(10, 6)) #设置图片放置的格式
np.set_printoptions(precision=4) #四位有效数字

In [37]:
class side_by_side():
    def __init__(self, *frames):
        self.frames = frames

    def _repr_html_(self):
        width = 100. / len(self.frames)

        s = ""
        for f in self.frames:
            s += "<div style='float: left; border-left : 5px solid #6699cc;'>%s</div>" % f._repr_html_()

        return s

In [38]:
obj = Series([100,99,100,60])
print(obj,'\n\n',obj.values,'\n\n',obj.index)

0    100
1     99
2    100
3     60
dtype: int64

 [100  99 100  60]

 RangeIndex(start=0, stop=4, step=1)

In [39]:
obj2=Series([4,7,-5,3],index=['d','a','b','c'])
print(obj2,'\n')
print(obj2['a'],'\n')
print(obj2[['c','a']],'\n')

print(obj2 >0,'\n')
print(obj2[obj2>0])

d    4
a    7
b   -5
c    3
dtype: int64

7

c    3
a    7
dtype: int64

d     True
a     True
b    False
c     True
dtype: bool

d    4
a    7
c    3
dtype: int64

In [40]:
obj2

d    4
a    7
b   -5
c    3
dtype: int64

In [41]:
6 in obj2#索引的是value，而不是index

False

In [42]:
'b' in obj2

True

In [45]:
['b' in obj2.index, 6 in obj2.values]

[True, False]

In [46]:
#直接利用字典来构建Series
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000} #dictionary
obj3=Series(sdata)
print(obj3)

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [51]:
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj4 = Series(sdata, index=states)#states里面的所有都会进入obj4的Index，但是如果在字典sdata的对应Index不存在，在obj4中对应的value就是NaN
print(obj4)

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [52]:
#通过isnull来判断是都有缺失值
pd.isnull(obj4)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [54]:
#计算时会自动对齐
print(obj3,'\n\n',obj4,'\n\n',obj3+obj4,'\n')

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

 California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

 California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

In [57]:
print(obj)
#修改index
obj.index=['Tom','a','b','c']
print('\n',obj)

0    100
1     99
2    100
3     60
dtype: int64

 Tom    100
a       99
b      100
c       60
dtype: int64