In [2]:
import os
import sys
import numpy as np
from numpy.random import randn
from pandas import Series, DataFrame
import pandas as pd
import matplotlib.pyplot as plt

np.random.seed(12345)
plt.rc('figure', figsize=(10, 6))
np.set_printoptions(precision=4)

# Reading and writing data in text format

In [1]:
%pwd

'c:\\Users\\16017\\Desktop\\Dropbox\\Guide_to_financial_data_analysis\\金融数据分析导引\\Lectures\\Lecture 4'

In [3]:
import os
os.getcwd()

'c:\\Users\\16017\\Desktop\\Dropbox\\Guide_to_financial_data_analysis\\金融数据分析导引\\Lectures\\Lecture 4'

In [5]:
#运用dos命令
!type C:\Users\16017\Desktop\Dropbox\Guide_to_financial_data_analysis\金融数据分析导引\assets\ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [7]:
df = pd.read_csv('c:\\Users\\16017\\Desktop\\Dropbox\\Guide_to_financial_data_analysis\\金融数据分析导引\\assets\\ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [11]:
df1=pd.read_table('c:\\Users\\16017\\Desktop\\Dropbox\\Guide_to_financial_data_analysis\\金融数据分析导引\\assets\\ex1.csv',sep=',')
df1

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [12]:
!type C:\Users\16017\Desktop\Dropbox\Guide_to_financial_data_analysis\金融数据分析导引\assets\ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [16]:
df2=pd.read_csv('c:\\Users\\16017\\Desktop\\Dropbox\\Guide_to_financial_data_analysis\\金融数据分析导引\\assets\\ex2.csv',names=['3','5','7','9'])
df2#默认值Header设定为0,1,2,3,4

    3   5   7      9
1   2   3   4  hello
5   6   7   8  world
9  10  11  12    foo

In [22]:
names=['a','b','c','d','luoyun']
pd.read_csv('c:\\Users\\16017\\Desktop\\Dropbox\\Guide_to_financial_data_analysis\\金融数据分析导引\\assets\\ex2.csv',names=names,index_col='luoyun')
#index_col

        a   b   c   d
luoyun
hello   1   2   3   4
world   5   6   7   8
foo     9  10  11  12